@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* overflow-y: auto; */
  /* Enable overflow-y by default */

  /* Media query for larger screens */
  
  /* @media (min-width: 768px) {
    overflow-y: hidden;
    } */
  /* Hide overflow-y on larger screens */
}

.customHR {
  border: 0;
  height: 2px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.486) 0%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.137) 100%);
}

.customHR2 {
  border: 0;
  height: 2px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.137) 0%, rgba(255, 255, 255, 0.555) 48%, rgba(255, 255, 255, 0.137) 100%);
}



/* Scroll Bar */
/* For Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}   

*::-webkit-scrollbar-track {
  background: #f5eff7; /* Background of the scrollbar track */
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1a4186; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  /* border: 1px solid #000000; Space around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1470ef; /* Color when hovered */
}